* {
    background-color: yellowgreen;
}

#headShot { 
    margin: 22px;
    border-radius: 70%;
    border-style: solid;
    border-width: 3px;
    border-color: black; 

}
ul {
    margin: 25px;
    list-style-type: disc;
}

ol {
    margin: 25px;
    list-style:decimal
}

h1 {
    font-size: 3em;
}

h2 {
    margin: 25px;
}
