* {
    background-color: #dd7035;
}

#headShot {
    border-radius: 50%;
    border-style: solid;
    border-width: 3px;
    border-color: black; 
    max-width: fit-content;
    max-height: fit-content;
    padding: 50px;
    margin: 100px;
}

p#intro, ul#jobHis, #education, #favFoods{
    border-style: solid;
    border-width: 3px;
    border-color: black;
    border-radius: 50%;
    max-width: fit-content;
    max-height: fit-content;
    padding: 100px;
    margin: auto;
    text-align: center;
}

ul {
    list-style-type: disc;
}

ol {
    list-style:decimal
}

h1 {
    font-size: 3em;
}

h2 {
    margin: 25px;
}

main {
    border-color: #e8e6e7;
    border-width: 3px;
    border-style: solid;
    border-radius: 25%;
    position: relative;
    max-width: 1000px;
    left: 20%;
    padding: 10px;
}
