* {
    background-color: forestgreen;
}

#headShot { 
    margin: 100px;
    border-radius: 45%;
    border-style: solid;
    border-width: 3px;
    border-color: black; 

}

p#intro {
    border-style: solid;
    border-width: 3px;
    border-color: black;
    max-width: 450px;
}
 ul#jobHis, #favFoods{
    border-style: solid;
    border-width: 3px;
    border-color: black;
    max-width: 450px;
}

#education{
    border-style: solid;
    border-width: 3px;
    border-color: black;
    max-width: 450px;
}

ul {
    /* margin: */
    list-style-type: disc;
}

ol {
    /* margin: 25px; */
    list-style:decimal
}

h1 {
    font-size: 3em;
}

h2 {
    margin: 25px;
}
/* body {
    /* position: relative;
    left: 360px; */
    
} */

main {
    border-color: orangered;
    border-width: 3px;
    border-style: solid;
    position: relative;
    left: 360px;
}
